@import url('https://fonts.googleapis.com/css?family=Work+Sans');
* {
  margin: 0;
  padding: 0; }
html {
  font-size: 62.5%; }
body {
  font-family: 'Work Sans';
  font-size: 2rem;
  background-color: #eaedee; }
.app {
  text-align: center; }
.app__title {
  padding: 2rem; }