* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  background-color: #eaedee;
}

.app {
  text-align: center;
}

.app__title {
  padding: 2rem;
}

.poke-hand {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.poke-card {
  border-radius: 3px;
  background-color: #fff;
  margin: 2rem;
  padding: 1rem;
  width: 22rem;
  box-shadow: .7rem 1rem 1.2rem -.5rem rgba(0, 0, 0, .5);
}

.poke-card__name {
  margin-bottom: 2rem;
}

.poke-card__text {
  font-size: 1.5rem;
}

.poke-card__sprite {
  background-color: #eaedee;
  width: 22rem;
  transition: .2s;
}

.poke-card__sprite:hover {
  cursor: pointer;
  transform: scale(1.2);
}